<%- include("partials/header"); -%>

        <% posts.forEach(function(post){ %>
            <div class="box ">
             <div class="inside-box">
             <h1 style="font-size:22px; font-weight: bold;"><%= post.title %></h1>
             <h2><%= post.question %></h2>
             <h5 class="answer"><%= post.answer %></h5>
             <h5><%= post.url %></h5>
             <h5><%= post.submitTime %></h5>
             <h5><%= post.subject %></h5>
             <h5><%= post.topic %></h5>
             <div class="button-group">
                <a href="/api/<%=post.postNumber - 1 %>" class="prev">prev</a>
                <a href="/api/<%=post.postNumber  + 1%>" class="next">next</a>
             </div>
            </div>
            </div>
            <% }) %> 

 
        <%- include("partials/footer"); -%>