<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% posts.forEach(function(post){ %>
        <div class="box ">
         <!-- <img src="../images/crunchy.JPG" > -->
         <h1 style="font-size:22px; font-weight: bold;"><%= post.title %></h1>
         <p style="font-size:12px;"><%= post.question %></p>
         <h5><%= post.answer %></h5>
         <h5><%= post.url %></h5>
         <h5><%= post.submitTime %></h5>
         <h5><%= post.subject %></h5>
         <h5><%= post.topic %></h5>
         <a href="href="/api/posts/next/<%="post.num"%> >next</a>
        </div>
        <% }) %> 
</body>
</html>